html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.metamask-xs {
  position: absolute;
  z-index: 3;
  color: white;
  border: 2px solid white;
  background-color: #9d39fe;
  border-radius: 15px;
  height: 5%;
  width: 40%;
  font-size: 13px;

  font-weight: bold;
  align-items: center;
  top: 4%;
  left: 55%;
}

.network-xs {
  position: absolute;
  z-index: 3;
  color: white;
  border: 3px solid white;
  background-color: #9d39fe;
  border-radius: 15px;
  height: 5%;
  width: 40%;

  font-weight: bold;
  align-items: center;
  top: 10%;
  left: 55%;
}

.tokens-xs {
  position: absolute;
  z-index: 3;
  color: white;
  border: 3px solid white;
  background-color: #9d39fe;
  border-radius: 15px;
  height: 5%;
  width: 60%;
  font-size: 14px;
  left: 20%;

  font-weight: bolder;
  align-items: center;
  top: 80%;

  box-shadow: 0px 0px 10px 3px #9d39fe;
}
.tokens-xl {
  position: absolute;
  z-index: 3;
  color: white;
  border: 3px solid white;
  background-color: #9d39fe;
  border-radius: 15px;
  height: 5%;
  width: 40%;
  font-size: 14px;

  font-weight: bolder;
  align-items: center;
  top: 50%;
  left: 27%;
  box-shadow: 0px 0px 10px 3px #9d39fe;
}

.metamask-xl {
  position: absolute;
  z-index: 3;
  color: white;
  border: 3px solid white;
  background-color: #9d39fe;
  border-radius: 15px;
  height: 5%;
  width: 200px;

  font-weight: bold;
  align-items: center;
  top: 4%;
  left: 80%;
}
.loading {
  left: 80%;
}
.errorForm {
  color: #9d39fe;
}
.rightForm {
  color: #101311;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.box {
  background-color: #2b2d3e;

}
.sparkboxes .box {

  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

.sparkboxes .box .details {
  position: absolute;
  color: #fff;
  transform: scale(0.7) translate(-22px, 20px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

.sparkboxes .box1 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient(135deg, #ffd3a5 10%, #fd6585 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
